<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>

<body>
  <div class="row">
    <h2>设备控制</h2>
    <div class="row">
      <div class="col-md-4 col-xs-12 col-sm-6">
        <select id="dev-selector" class="form-control"></select>
      </div>
      <button class="col btn btn-success" id="open" type="button">开灯</button>
      <button class="col btn btn-warning" id="close" type="button">关灯 </button>
    </div>

  </div>
  <div class="row">
    <h2>设备列表</h2>
    <table id="dev-table" class="table table-striped">
      <tbody>
        <tr>
          <th>#</th>
          <th>IP地址</th>
          <th>ID号</th>
          <th>最后上传的数据</th>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="/javascripts/index.js"></script>
</body>

</html>