<!DOCTYPE html>
<html>

<head>
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>

<body>
  <div class="row">
    <h2>设备控制</h2>
    <div class="col-md-4 col-xs-12 col-sm-6">
      <select class="form-control"></select>
    </div>
    <button class="btn btn-success" id="open" type="button">开灯</button>
    <button class="btn btn-warning" id="close" type="button">关灯 </button>
  </div>
  <div class="row">
    <h2>设备列表</h2>
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>#</th>
          <th>IP地址</th>
          <th>ID号</th>
          <th>最后上传的数据</th>
        </tr>
      </tbody>
    </table>
  </div>
  <script src="javascripts/no-pug-index.js"></script>
</body>

</html>