extends layout

block content
  script(src="https://cdn.bootcss.com/echarts/4.2.0-rc.2/echarts.min.js")
  h1.title(style='font-size:5em;margin-bottom:5vh;')= title
  .container-fluid
    .row
      .col-md-4.col-sm-6
        .block
          img.block-img(src='/images/light-on.png', alt='', style='')
          .content
            .text
              p.title 灯一：
              p(style='color:white;') 开启
            .text
              p.title 灯二：
              p(style='color:white;') 开启
            .text
              p.title 灯三：
              p(style='color:white;') 关闭
      .col-md-4.col-sm-6
        .block
          img.block-img(src='/images/air-conditioning.png', alt='', style='')
          .content
            .text
              p.title 最低：
              p(style='color:white;') 22 ℃
            .text
              p.title 最高：
              p(style='color:white;') 27 ℃
            .text
              p.title 平均：
              p(style='color:white;') 25 ℃

      .col-md-4.col-sm-6
        .block
          img.block-img(src='/images/meter.png', alt='', style='')
          .content
            .text
              p.title 水表：
              p(style='color:white;') 12 度
            .text
              p.title 电表：
              p(style='color:white;') 36 度
            .text
              p.title 费用：
              p(style='color:white;') 54 元

      .col-md-4.col-sm-6
        .block
          img.block-img(src='/images/controller.png', alt='', style='')
          .content
            .text
              p.title 灯管：
              button#open-led.btn.btn-success.btn-lg(type="button") 开启
            .text
              p.title 灯管：
              button#close-led.btn.btn-warning.btn-lg(type="button") 关闭
            .text
              p.title 门禁：
              button.btn.btn-success.btn-lg(type="button") 开启
     
      .col-md-8.col-sm-12
        div#main(style="width: 100%;height:30vh;background-color: rgba(25,118,210,0.3);")
      script(src="/javascripts/index.js")
  
